<p>Ola, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= i18n('devise.mailer.email_changed.esta_sendo_alterado_msg') %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= i18n('devise.mailer.email_changed.foi_alterado_msg') %> <%= @resource.email %>.</p>
<% end %>
